:root {
  --secondary-color: rgb(60, 165, 60);
  --primary-color: rgb(255, 255, 255);
}

body {
  position: relative;
  background-color: rgb(200, 215, 200);
  text-align: center;
}

.page-container {
  position: absolute;

  display: flex;
  float: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;

  font-family: Arial, serif;
  text-align: center;
  font-weight: 300;
  font-size: 12pt;
  color: rgba(0, 0, 0, 1);
  background-color: var(--primary-color);
  margin: auto;
}

.top-page {
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 550px;
}

.tree-image {
  position: absolute;
  top: 125px;
  height: 350px;
  background-image: none;
  background-color: rgba(0, 0, 255, 0.5);
  left: var((100% - 200px) / 2);

  width: 200px; /*Set to auto after an image is found.*/
}

.curved-divider {
  display: flex;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: var(--primary-color);
  border-width: 0px;
  height: 200px;
  width: 100%;
  margin: 0px;
  align-self: flex-end;
}

.primary-background {
  background-color: var(--primary-color);
}

.text-box {
  font-family: Arial, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  text-align: left;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.text-style-heading {
  font-size: 24pt;
  font-weight: 400;
}

.text-color-white {
  color: rgb(255, 255, 255);
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.progress-bar-container {
  border-radius: 15px;
  border-width: 2px;

  height: 30px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar {
  border-radius: 15px;
  border-width: 0px;

  height: 100%;
  width: 50%;
  background-color: var(--secondary-color);
}

.spacer {
  width: 0%;
  height: 50px;
}


